{% extends "layout.html" %}
{% set active_page = "dashboard" %}

{% block content %}

<legend class="border-bottom mb-4">Dashboard</legend>
{{test}}
<div class="container">
    {% for device in devices %}
    <div class="row">    
        <div class="col">
            {{device.owner.username}}
        </div>
        <div class="col">
            {{device.id}}
        </div>
        <div class="col">
            <p><a href="{{ url_for('devices.device', device_id=device.id) }}">{{device.devicename}}</a></p>
        </div>
        <div class="col">
            {{device.devicetype}}
        </div>     
    </div>
    <div class="row">
        <div class="row">
            {{ device.datadumps[-1]}}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}