{% extends "layout.html" %}
{% set active_page = "dashboard" %}

{% block content %}

<legend class="border-bottom mb-4">Dashboard</legend>

<div class="container">
    {% for device in devices %}
    <a href="{{ url_for('devices.device', device_id=device.id) }}">
    <div class="row" style="border:1px solid #89ca84;">    
        <div class="col">
            <p>{{device.owner.username}}</p>
        </div>
        <div class="col">
            <p>{{device.id}}</p>
        </div>
        <div class="col">
            <p>{{device.devicename}}</p>
        </div>
        <div class="col">
            <p>{{device.devicetype}}</p>
        </div>     
    </div>
    </a>
    {% endfor %}
</div>

{% endblock content %}