{% extends "layout.html" %}

{% block content %}

<legend class="border-bottom mb-4">Device Data</legend>
<div class="container">
    <div class="row justify-content-md-center">
        {%for i in current_user.devices %}
        <div class="col-sm-auto">
            <a href="{{ url_for('devices.device', device_id=i.id) }}" class="btn btn-outline-success">{{loop.index}}</a>
        </div>       
        {%endfor%}
    </div>
</div>
<div class="container">
    <div class="row">    
        <div class="col">
            {{device.owner.username}}
        </div>
        <div class="col">
            {{device.id}}
        </div>
        <div class="col">
            {{device.devicename}}
        </div>
        <div class="col">
            {{device.devicetype}}
        </div>
        <div class="col">
            <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('devices.update_device', device_id=device.id) }}">Edit Device</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
        </div>       
    </div>     
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div id="map" style="width:475px;height:400px;"></div>
        </div>
        <div class="col-md-auto">
            <img = src="{{ temp }}" style="width:475px;height:400px;"/>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <img = src="{{ humid }}"style="width:475px;height:400px;"/>
        </div>
        <div class="col-md-auto">
            <img = src="{{ hpa }}"style="width:475px;height:400px;"/>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <img = src="{{ volt }}"style="width:475px;height:400px;"/>
        </div>
        <div class="col-md-auto">
            <img = src="{{ lte_rssi }}"style="width:475px;height:400px;"/>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Device?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are your sure that you would like to delete the device?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{url_for('devices.delete_device', device_id=device.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="delete">
        </form>
      </div>
    </div>
  </div>
</div>


<script>
    function initMap() {
        var location = { {{ pos }} };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 3,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }




</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_KEY}}&callback=initMap"></script>

{% endblock content %}