{% extends "layout.html" %}
{% set active_page = "dashboard" %}

{% block content %}

<legend class="border-bottom mb-4">Dashboard</legend>

<div class="container">
    {% for device in devices %}
    <a href="{{ url_for('devices.device', device_id=device.id) }}">
    <div class="row" style="border:1px solid #89ca84;">    
        <div class="col">
            <p>{{device.owner.username}}</p>
        </div>
        <div class="col">
            <p>{{device.id}}</p>
        </div>
        <div class="col">
            <p>{{device.device_mac}}</p>
        </div>
        <div class="col">
            <p>{{device.devicename}}</p>
        </div>
        <div class="col">
            <p>{{device.devicetype}}</p>
        </div>     
    </div>
    </a>
    {% endfor %}
</div>

<div id="map" style="width:100%;height:500px;"></div>

<script>
    function initMap() {
        var location = { lat: 0, lng: 0 };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 1,
            center: location
        });
        {% for device in all_device %}
        var marker = new google.maps.Marker({
            position: { {{device[0]}} },
            map: map,
            label: "{{ device[1] }}"
        });
        {% endfor %}
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_KEY}}&callback=initMap"></script>





{% endblock content %}